<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REDIRECT_URI_HOST</key>
	<string>$(REDIRECT_URI_HOST)</string>
	<key>REDIRECT_URI_SCHEME</key>
	<string>$(REDIRECT_URI_SCHEME)</string>
	<key>SPOTIFY_API_CLIENT_ID</key>
	<string>$(SPOTIFY_API_CLIENT_ID)</string>
	<key>SPOTIFY_API_CLIENT_SECRET</key>
	<string>$(SPOTIFY_API_CLIENT_SECRET)</string>
	<key>AUTH0_DOMAIN</key>
	<string>$(AUTH0_DOMAIN)</string>
	<key>AUTH0_CLIENT_ID</key>
	<string>$(AUTH0_CLIENT_ID)</string>
	<key>BACKEND_BASE_URL</key>
	<string>$(BACKEND_BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
